[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SoundexBR"]
	path = SoundexBR
	url = https://github.com/dmarcelinobr/soundexbr
